@import '../../styles/colors.scss';

.info-card {
  background-color: $branding-white;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  max-width: 14rem;
}

.info-card-mobile {
  background-color: $branding-white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.info-img {
  height: auto;
  width: 8vw;
}

.info-button {
  background-color: $branding-red;
}
