@font-face {
  font-family: 'Signika';
  src: url('../assets/fonts/Signika-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url('../assets/fonts/Signika-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url('../assets/fonts/Signika-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url('../assets/fonts/Signika-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Signika', sans-serif;
}
